@import "./utils/variables";
@import "./base/base";
@import "./layouts/header";
@import "./layouts/main-bloc_food_title-lines";
@import "./pages/meal1";
@import "./layouts/footer";
@import "./layouts/footer-animation-meals";
@import "./layouts/main-bloc_meals";
@import "./layouts/main-bloc_section";
@import "./components/name-restaurant-header";

  




@media (min-width: 768px) {
	.main-bloc__section__food {
		li {
			flex-direction: row;
			justify-content: space-between;
		}
		&::after {
			top: 6rem;
		}
	}
	.main-bloc__section__titles {
		&::before {
			left: 5%;
			width: 30%;
		}
		&::after {
			right: 5%;
			width: 30%;
		}
	}
	.main-bloc {
		width: 75%;
	}
	html {
		font-size: 80%;
	}
}
