
@import "../../node_modules/normalize-scss/sass/normalize/import-now";

html {
	font-size: 10px;
	line-height: unset;

	
	@media (min-width: 768px){
		font-size: 13px;
	}
		
	
	
}
body {
	margin: auto;
	font-family: 'Montserrat', sans-serif;
	opacity: 0.8;
}
a {
	text-decoration: none;
	
}
