
.meal {
    display: flex;
    list-style-type: none;
    padding-left: 0px;
    flex-flow: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-top: 4rem;
    
  
    li {
      
      box-shadow: 0px 0px 10px #c7c7c7;
      margin: 3%;
      @media (min-width: 768px){
        padding: 1rem;
      }    
    }
  
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 12rem;
      height: 18rem;
      transition: 0.5s; 
      &:hover {
        transform: scale(1.3);
        opacity: 0.7; 
      }
    }
  
    h3 {
      margin-bottom: 0;
      @media (min-width: 768px)
      {text-align: center;}
    }
    h2{
      @media (min-width: 768px)
      {
        font-size: 250%;
      }
    }
  }
  
  .meal__meal-1 {
    background: $color-meal1-background;
  
    i {
      font-size: 2rem;
      background: linear-gradient(to right, #f00d0d, #fdc270);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      @media (min-width: 768px)
      {font-size: 3rem;}   
    }
  
    h3 {
      margin-top: 0px;
      margin-bottom: 1rem;
      font-family: $police-meal1-title;
      font-weight: 400;
      color: black;
      font-size: 1.5rem;
      @media (min-width: 768px)
      {font-size: 2.1rem;}  
    }
  
    h2 {
      font-family: $police-meal1-menu;
      text-transform: uppercase;
      font-style: italic;
      color: black;
      margin-top: 0px;
    }
  }
  
  .meal__meal-2 {
    background: $color-meal2-background;
  
    h3 {
      font-family: $police-meal2-title;
      font-size: 1rem;
      background: linear-gradient(to right, #fb5300, #3333ee);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      @media (min-width: 768px)
      {font-size: 1.8rem;}
    }
  
    h2 {
      font-family: $police-meal2-menu;
      color: #e2a552;
    }
  }
  
  .meal__meal-3 {
    background: $color-meal3-background;
  
    h3 {
      font-family: $police-meal3-title;
      background: linear-gradient(to right, #262a9f, #3397af);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      @media (min-width: 768px)
      {font-size: 2.2rem;}
    }
  
    h2 {
      font-family: $police-meal3-menu;
      color: #3397af;
    }
  }
  
  .meal__meal-4 {
    background: $color-meal4-background;
  
    h3 {
      font-family: $police-meal4-title;
      background: linear-gradient(to right, #336d33, #9fff4c);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      @media (min-width: 768px)
      {font-size: 1.9rem;}
    }
  
    h2 {
      font-family: $police-meal4-menu;
      color: #3da33d;
    }
  }


  