
.main-bloc {
	
	background-color: $color-meal1-background;
	font-family: $police-meal1;
}
.main-bloc__header {
	align-items: center;
	i {
		font-size: 4rem;
		margin-top: 3rem;
		background: linear-gradient(to right,#f00d0d ,#fdc270);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}
.main-bloc__header__title {
	font-family: $police-meal1-title;
	font-size: 3rem;
	font-weight: 100;
	margin-top: 0;
	margin-bottom: 0;
}

.main-bloc__section__titles {
	font-size: 2rem;
	
	&::before, &::after {
		
		background: black;
		
	}
	 
}
.main-bloc__section__food p
	{
		font-size: 1.5rem;}
	
.main-bloc__footer {
	flex-direction: row;
	align-items: center;
	h3 {
		display: flex;
		justify-content: center;
		font-family: 'devonshire', cursive;
		font-size: 2.5rem;
		font-weight: 100;
		margin-left: 1rem;
	}
	i {
		font-size: 2.5rem;
		background: linear-gradient(to right,#f00d0d ,#fdc270);
		
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}
