.main-bloc {
    
    background-color: $color-meal2-background;
    font-family: $police-meal2;
    padding-bottom: 10rem;
    
    &__header {
      align-items: center;
      font-size: 3.5vw;
      font-weight: 100;
      padding-top: 5rem;
      margin-bottom: 0;
      font-family: $police-meal2-title;
      background: linear-gradient(to right, #fb5300, #3333ee);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      @media (min-width: 768px){
        font-size: 2.5vw;
      }
     
      
  }
}
  
  .main-bloc__section {
    
  
    &:nth-of-type(1) {
      color: #fb5300;
    }
  
    &:nth-of-type(2) {
      color: purple;
    }
  
    &:nth-of-type(3) {
      color: #3333ee;
    }
  }
  
  .main-bloc__section__titles {
    font-size: 3vw;
    @media (min-width: 768px){
      font-size: 2.2vw;
    }
    &::before, &::after {
      background-color: currentColor;  
    }
    
  }
  

  .main-bloc__section__food__meal, .main-bloc__section__food__price{
   font-size: 3vw;
   
   @media(min-width: 768px){
     font-size: 2vw;
   }
   
  
 }
 