
  .main-bloc {
   
    background-color: $color-meal3-background;
    font-family: $police-meal3;
    padding-bottom: 10rem;
    &__header {
      align-items: center;
      font-size: 4vw;
      
      padding-top: 5rem;
      margin-bottom: 0;
      font-family: $police-meal3-title;
      background: linear-gradient(to right, #070c9a, #1cbaea);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  

  
  
  .main-bloc__section__titles {
    font-size: 3.5vw;
    @media (min-width: 768px){
      font-size: 3vw;
    }
    &--1 {
      &::before,  &::after {
        background-color: #070c9a;
        }}
    &--2 {
      &::before,  &::after {
      background-color: #166fb1;
      }}
    &--3 {
      &::before,  &::after {
      background-color: #1cbaea;
     }}
  
  }
  
  .main-bloc__section__food__meal, .main-bloc__section__food__price{
    font-size: 3.5vw;
    font-weight: bold;
    @media(min-width: 768px){
      font-size: 2.4vw;
    }
    
   
  }
   