
.main-bloc {
	
	background-color: $color-meal1-background;
	font-family: $police-meal1;
	padding-right: 4vw;
	padding-left: 4vw;
	box-sizing: border-box;
	
}
.main-bloc__header {
	align-items: center;
	i {
		font-size: 8vw;
		margin-top: 3rem;
		background: linear-gradient(to right,#f00d0d ,#fdc270);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		@media(min-width: 768px){
			font-size: 5vw;
			margin-top: 4rem;
		  }
	}
}
.main-bloc__header__title {
	font-family: $police-meal1-title;
	font-size: 7vw;
	font-weight: 100;
	margin-top: 0;
	margin-bottom: 0;
	@media(min-width: 768px){
		font-size: 4.5vw;
	  }
}

.main-bloc__section__titles {
    font-size: 3.5vw;
    @media (min-width: 768px){
      font-size: 1.8vw;
    }
	&::before, &::after {
		
		background: black;
		
	}
	 
}

	
.main-bloc__footer {
	flex-direction: row;
	align-items: center;
	padding-bottom: 4rem;
	p {
		display: flex;
		justify-content: center;
		font-family: 'devonshire', cursive;
		font-size: 6vw;
		font-weight: 100;
		margin-left: 1rem;
		@media(min-width: 768px){
			font-size: 3vw;
		  }
	}
	i {
		font-size: 6vw;
		background: linear-gradient(to right,#f00d0d ,#fdc270);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		@media(min-width: 768px){
			font-size: 4vw;
		  }
	}
}
.main-bloc__section__food li{
	padding-left: 0;
	padding-right: 0;}

.main-bloc__section__food__meal, .main-bloc__section__food__price{
		font-size: 3.3vw;
		
		@media(min-width: 768px){
		  font-size: 1.5vw;
		}
		
	   
	  }
	  
