.main-bloc {
    
    background-color: $color-meal2-background;
    font-family: $police-meal2;
    &__header {
      align-items: center;
      font-size: 2.5rem;
      font-weight: 100;
      padding-top: 3rem;
      margin-bottom: 0;
      font-family: $police-meal2-title;
      background: linear-gradient(to right, #fb5300, #3333ee);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
     
      
  }
}
  
  .main-bloc__section {
    
  
    &:nth-of-type(1) {
      color: #fb5300;
    }
  
    &:nth-of-type(2) {
      color: purple;
    }
  
    &:nth-of-type(3) {
      color: #3333ee;
    }
  }
  
  .main-bloc__section__titles {
    font-size: 2rem;
    &::before, &::after {
      background-color: currentColor;  
    }
  }
  
  .main-bloc__section__food p
    {
      font-size: 1.5rem;
    }
 