$color-header-background:#00695C;
$color-header-text:goldenrod;
$color-meal1-background:#ffeada;
$color-meal2-background:#f1e0e6;
$color-meal3-background:#f0f0f0;
$color-meal4-background:#fff2f7;

$police-meal1: 'kalam', cursive;
$police-meal1-title: 'Devonshire', sans-serif;
$police-meal1-menu: 'itim', sans-serif;
$police-meal2: 'crimson text', sans-serif;
$police-meal2-title: 'kurale', sans-serif;
$police-meal2-menu: 'abril fontface', sans-serif;
$police-meal3: 'Caveat', sans-serif;
$police-meal3-title: 'dancing script', sans-serif;
$police-meal3-menu: 'chilanka', sans-serif;
$police-meal4-title: 'kaushan script', sans-serif;
$police-meal4-menu: 'chilanka', sans-serif;
