.header {
	display: flex;
	background: $color-header-background;
	color: $color-header-text;
	margin-top: 0;
	font-size: 3rem;
	align-items: center;
	height: 6rem;
	justify-content: center;
	margin-bottom: 0;
	font-weight: 700;
	letter-spacing: -3px;
}