/* lignes sur les cotes des titres des menus*/
.main-bloc__section__titles {
    
    margin-bottom: 0;
    max-width: 40%;
    text-align: center;

    &::before, &::after
    
    {
      content: "";
      width: 25%;
      height: 0.4rem;
      display: flex;
      position: absolute;
      border-radius: 80%;
      
    }
  
    &::before {
      left: 3.5%;
      }
    &::after {
      right: 3.5%;
      }
    }
  