.main-bloc__section__titles {
    
    margin-bottom: 0;
    max-width: 25%;
    text-align: center;

    &::before, &::after
    
    {
      content: "";
      width: 25%;
      height: 0.4rem;
      display: flex;
      position: absolute;
      border-radius: 80%;
      @media (min-width: 768px){
        width: 30%;}
    }
  
    &::before {
      left: 5%;
      }
    &::after {
      right: 5%;
      }
    }
  