.main-bloc__section__food {
	width: 90%;
	padding-left: 0;
	li {
		margin-bottom: 2rem;
	}
	p {
		
		margin-top: 0;
		margin-bottom: 0;
		text-align: center;
	}
}
.main-bloc__section__food__price {
	font-weight: bold;
}